.container {
    width: 700px;
    height: 500px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin: 40px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.row1 {
    padding: 20px;
    margin: 20px;
}
.row1>h2 {
    color: rgb(19, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
}
.row1>h3 {
    color: rgb(212, 226, 19);
    font-family: Arial, Helvetica, sans-serif;
}
.row1>p {
    color: rgb(175, 175, 175);
    font-family: Arial, Helvetica, sans-serif;  
}
.row2 {
    width: 700px;
    height: 280px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: row;
}
.row2-div1 {
    width: 350px;
    height: 280px;
    box-sizing: border-box;
    background: rgb(5, 185, 185);
    border-radius: 0px 0px 0px 10px;
    padding: 30px;
}
.row2-div2 {
    width: 350px;
    height: 280px;
    box-sizing: border-box;
    background: rgb(19, 212, 212);
    border-radius: 0px 0px 10px 0px;
    padding: 30px;
}
#heading {
    font-size: 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#heading2 {
    color: rgb(209, 209, 209);
}
#heading2>span {
    font-size: 22px;
    color: white;
}
#heading3 {
    color: rgb(224, 221, 221);
}
a {
    background: rgb(167, 233, 35);
    display: block;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    padding-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.5s;
}
a:hover {
    background: rgb(145, 211, 12);
    transition: 0.5s;
}
#heading5 {
    font-size: 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.row2-div2>p {
    color: rgb(229, 226, 226);
}